html
  head
    title='This little app'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello World!!!
        p hows COVID-19 treating ya?!!
        p 
